<div class="header">
  <div class="logo">
    <img src="../assets/img/logo_itau.png" />
  </div>
  <div class="language">
    <span> PT </span>
  </div>
  <div class="user">
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="menu-container">
        <div class="menu-profile-img">
        </div>
        <div class="menu-label">
          <span class="menu-label-name">John Doe</span>
          <span class="menu-label-position">Diretor Itaú BBA</span>
        </div>
        <div class="menu-dropdown-icon">
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>Configurações</button>
      <button mat-menu-item>Sair</button>
    </mat-menu>
  </div>
</div>
