<div class="header">
  <div class="logo">
    <img src="../assets/img/logo_itau.png" />
  </div>
  <div class="language">
    <span>{{ 'LABEL_LANG' | translate}}</span>
  </div>
  <div class="user">
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="menu-container">
        <div class="menu-profile-img">
        </div>
        <div class="menu-label">
          <span class="menu-label-name">John Doe</span>
          <span class="menu-label-position">Diretor Itaú BBA</span>
        </div>
        <div class="menu-dropdown-icon">
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="changeLang()">{{ 'MENU_LANG' | translate}}</button>
      <button mat-menu-item>{{ 'MENU_LOGOUT' | translate}}</button>
    </mat-menu>
  </div>
</div>
