<div class="form-details">
  <div class="address-details">
    <div class="title-address-details">
      <span>{{'ADDRESS_DETAILS' | translate}}</span>
    </div>
    <form [formGroup]="form" class="address-form">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'ZIP_CODE' | translate }}</mat-label>
        <input mask="00000-000" inputmode="numeric" matInput formControlName="cep" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'STREET_NAME' | translate }}</mat-label>
        <input matInput formControlName="logradouro" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'DISTRICT_NAME' | translate }}</mat-label>
        <input matInput formControlName="bairro" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'STATE_NAME' | translate }}</mat-label>
        <input matInput formControlName="uf" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'CITY_NAME' | translate }} Cidade</mat-label>
        <input matInput formControlName="localidade" />
      </mat-form-field>
    </form>
  </div>
</div>
