<div class="container">

  <div class="title-container">
    <div class="title">
      <span class="title-text">{{ 'POLO_BUSINESS_NAME' | translate }} {{businessName}}</span>
      <span class="title-subtext"> {{ 'SHOW_POLO_DETAILS' | translate }} {{businessName}}#{{id}} </span>
    </div>
  </div>

  <app-address-form [form]="form"></app-address-form>
  <app-business-form [form]="form"></app-business-form>

  <div class="footer-container">
    <app-button t-label="{{ 'LABEL_BUTTON_BACK' | translate }}" routerLink="['']" t-color_style="accent"></app-button>
    <app-button t-label="{{ 'LABEL_BUTTON_SAVE' | translate }}" [t-large]="true" (click)="onClickSalvar()"></app-button>
  </div>

</div>
